.grid {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.element{
    background-color: blue;
    padding: 10px;
    height: 100px;
    width: 100px;
}