.container{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-color: yellow;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;

}

.item{
    width: 100px;
    height: 100px;
}

.purple{
    background-color: purple;
}