.grid {
    display: grid;
    grid-template: 
            "a a a" 40px
            "b c c" 40px
    gap: 10px;
}
.element{
    background-color: blue;
    padding: 10px;
    height: 100px;
    width: 100px;
}