.container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    background-color: yellow;
    justify-content: center;
align-items: center;
}


.item{
    width: 100px;
    height: 100px;
}

.green{
    display: none;
    background-color: green;
}

.yellow{
display: none;
    background-color: yellow;
}
.purple{
    background-color: purple;
}