*{
    margin: 0;
    padding: 0;
}

.page{
    width: 93vw;
    height: 100vh;
}

.cyans{
    height: 100px;
    width: 94.8vw;
    background-color: purple;
    padding-left: 100px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.cyan{
    height: 50px;
    width: 120px;
    margin-left: 20px;
    background-color: aqua;
}

.main{
    margin-top: 10px;
    margin-left: 120px;
}

.content{
    
    height: 700px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.yellow{
    flex-basis: 75%;



    background-color: yellow;
}
.green{
    flex-basis: 25%;


    background-color: green;
}

.gray{
    margin-top: 10px;
    height: 100px;
    background-color: gray;
}